<div class="col-md-3">
<div class="well center-it">
    <h2><%= link_to review.title, review %></h2>
    <p><strong>Attraction:</strong><% if review.attraction_id != nil %><%= review.attraction.name %> <% else %>"(No associated attraction)"<% end %></p>
    <p><strong>Rating:</strong>
    <% if review.rating != nil %> <%= review.rating %> stars <% else %> <%= "none" %><% end %></p>
    <a href="#" data-toggle="modal" data-target="#myModal_<%= review.id %>">
    <span class="glyphicon glyphicon-plus"> More </span></a>
</div>
</div>

<div id="myModal_<%= review.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= review.title %></h4>
	  </div>
	  <div class="modal-body">
	  	<p><strong>Attraction:</strong><% if review.attraction_id != nil %><%= review.attraction.name %> <% else %>"(No associated attraction)"<% end %></p>
	  	<p>By <%= gravatar_tag review.user.email, size: 20 %> <%= review.user.username %></p>
	  	<p><%= truncate(review.content, :length => 100) %><%= link_to "Read More", @review %></p>
	  	<p>Posted: <%= time_ago_in_words(review.created_at) %> ago </p>
	  </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"><%= link_to "See Full Page", review %></button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->