<p id="notice"><%= notice %></p>
<div class="panel panel-default">
<div class="panel-heading">
<h2><%= @review.title %></h2><p>
<p>
  <strong>Attraction:</strong>
  <% if @review.attraction_id != nil %><%= link_to @review.attraction.name, attraction_path(@review.attraction_id %> <% else %>"(No associated attraction)"<% end %>
</p>
<p>
  <strong>Rating:</strong>
  <% if @review.rating != nil %> <%= @review.rating %> stars <% else %> <%= "none" %><% end %>
</p>
<strong>By:</strong><%= gravatar_tag @review.user.email, size: 20 %>
  <%= @review.user.username %> 
  Posted: <%= time_ago_in_words(@review.created_at) %> ago </p>
</div>
<div class="panel-body">
   <%= @review.content %><br><br>
   <image src="<%= @review.image %>", width="100%">
</div>
<div class="panel-footer"><%= link_to 'Back', reviews_path %><% if current_user == @review.user %> | 
  <%= link_to "Edit Review", edit_review_path(@review) %> | <%= link_to "Delete", @review, method: :delete %>
<% end %>
</div>