<%= simple_form_for(@attraction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :destination, as: :select, prompt: "Select the destination where this attraction is located." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
